<ion-header-bar>
  <a ng-click="back()" class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
  <h1 class="title">Declutter</h1>
</ion-header-bar>
<ion-content>
    <div class="list">
      <div class="item">
        <a ng-click="getPicture()" class="picture-frame">
            <img ng-src="{{thing.image}}" alt="{{thing.title}}" ng-showif="thing.image">
            <span ng-hideif="image">Take picture</span>
        </a>
        <a ng-hideif="image">... or add one from your library</a>
      </div>
      <label class="item item-input">
        <input type="text" placeholder="Title (optional)" name="title" ng-model="thing.title">
      </label>
      <div class="item item-input item-select">
        <div class="input-label">
          Remind me
        </div>
        <select ng-model="thing.remindDate" ng-options="o.value as o.title for o in remindOpts"></select>
      </div>
      <button ng-click="save()" class="button button-full button-positive">
        <span>Save</span>
      </button>
    </div>
</ion-content>